@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

    transition: 300ms;
}

a {
    text-decoration: none;
    color: var(--teal-green);
}

a:hover {
    color: var(--teal-green-dark);
    text-decoration: underline;
}

:root {
    --lightColor: #f7f7f7;
    --teal-green-dark: #075E54;
    --teal-green: #128C7E;
    --light-green: #25D366;
    --tea-green: #DCF8C6;
    --blue: #34B7F1;
    --light-gray: #ECE5DD;
}

body {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

.btn {
    padding: 5px 10px;

    background-color: var(--light-green);

    border-radius: 3px;
    border: none;

    color: white;
    font-weight: 600;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-100 {
    width: 100%;
}

.btn-90 {
    width: 90%;
}

.btn:hover {
    background-color: var(--teal-green);

    .loading-cursor-5,
    .loading-cursor-5 {
        border-top:3px solid var(--teal-green);
    }
}

.translate_right {
    transform: translateX(430px);
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}