body{
    display: flex;
    align-items: center;
    justify-content: center;

}
:root{
    --lightColor:#f7f7f7;
    --teal-green-dark: #075E54;
    --teal-green: #128C7E;
    --light-green: #25D366;
    --tea-green: #DCF8C6;
    --blue: #34B7F1;
    --light-gray: #ECE5DD;
}
.card{
    padding: 10px 10px;
    width: 80%;
    height: 500px;

    /* background-color:var(--lightColor); */
    /* box-shadow: 0px 0px 15px #ece5dd; */

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.card > img{
    width: 75px;
}
.card > h3{
    color: var(--light-green);
}
.card > form{
    padding: 20px 0px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.input{
    padding: 5px 10px;

    width: 90%;

    border-radius: 3px;
    border: 1px solid var(--light-gray);
    outline: none;

    box-shadow: 0px 0px 10px var(--light-gray);
}
form input[type="file"]{
    display: none;
}
.pic-label{
    font-size: 13px;
    cursor: pointer;
    color: rgb(126, 126, 126);
    border: none;
}
.pic-label:hover{
    background-color: var(--light-green);
    color: white;
}
.new-to-bc{
    color: var(--teal-green-dark);
    font-size: 13px;

    /* font-weight: 500; */
}
.msg{
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 5px 10px 5px 10px;
    /* width: 200px; */
    
    background-color: var(--teal-green);
    color: white;
    fill: white;
    
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    box-shadow: 0px 0px 15px var(--light-gray);
    svg{
        width: 20px;
    }
    
    animation-name: translateX_300;
    animation-delay: 2s;
    
    display: none;
}