.loading-cursor-10 {
    /* background-color: orange; */

    border: 3px solid white;
    border-top: 3px solid orange;

    height: 20px;
    width: 20px;

    border-radius: 50%;

    animation: spin 1s linear infinite;


}

.loading-cursor-5 {
    /* background-color: orange; */

    border: 3px solid white;
    border-top: 3px solid var(--light-green);

    height: 15px;
    width: 15px;

    border-radius: 50%;

    animation: spin 1s linear infinite;


}

@keyframes spin {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}