<% layout('layouts/login-signup')  %>
<div class="card">
    <img src="/img/wa-logo.png" alt="">
    <h3>BIT CHAT</h3>
    <form data-form="login" method="POST" id="FORM" action="/user/signin" enctype="application/x-www-form-urlencoded">
        <input class="input" type="email" name="email" placeholder="Enter Email" required>
        <input class="input" type="password" name="password" placeholder="Enter Password" required>
        <button class="btn btn-90" id="login-btn">Login</button>
    </form>
    <p class="new-to-bc">New to Bit Chat? <a href="/user/register">Register</a></p>
</div>